---
import { getCollection, type CollectionEntry } from 'astro:content';
import * as R from 'remeda';
// @ts-ignore
import path from 'node:path';
import Layout from '../../layouts/Layout.astro';
import { getScreenCategoryName } from '../../helpers';
import type { Screen } from '../../types';
import ScreenCard from '@components/ScreenCard.astro';

export async function getStaticPaths() {
  return (await getCollection('apps')).map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'apps'>;
}

const { entry } = Astro.props;

const screens = await getCollection('screens', ({ id }) => id.endsWith(`${path.sep}${entry.id}`));
const screenCategories = R.uniq(
  screens.map(({ id }) => id.split(path.sep)[0])
);
screenCategories.sort();
---
<Layout title={entry.data.title}>
  <header class="flex mb-20">
    <div class="border-pastel-black border-[3px] p-1 relative">
      <span class="bg-pastel-green py-1 px-3 text-xs absolute top-0 right-0 border-2 border-pastel-black border-t-0 border-r-0">
        {entry.data.category}
      </span>

      <img
        src={entry.data.image.src}
        alt={entry.data.title}
        class="w-[100px] h-[100px] object-cover" />
    </div>

    <div class="ml-4">
      <h1 class="font-heading text-3xl tracking-tighter">{entry.data.title}</h1>
      <div class="pl-1">
        <p class="text-slate-400">{entry.data.technologies.join(', ')}</p>

        <a href={entry.data.url} class="block mt-4 text-pastel-purple hover:underline hover:decoration-wavy decoration-pastel-purple underline-offset-4">
          {entry.data.url}
        </a>
      </div>
    </div>
  </header>

  {screenCategories.map((category) => (
    <h2 class="font-semibold text-2xl mb-2 font-heading tracking-tighter">{getScreenCategoryName(category)}</h2>

    <div class="grid grid-cols-4 gap-5">
      {screens.filter(({ id }) => id.startsWith(`${category}${path.sep}`)).map((section) => (
        section.data.map((screen: Screen) => (
          <ScreenCard
            title={screen.title}
            image={screen.image.src} />
        ))
      ))}
    </div>
  ))}
</Layout>